.bgFooter{
  background: linear-gradient(to bottom right, var(--p-light), var(--p-dark));
  width: 100%;
}
.bgFooter h1{
  margin: 0;
  padding: 0;
}
.socialNet{
  font-size: 2em;
  list-style: none;
  position: relative;
  z-index: 4;
}
.socialNet li{
  transition: 200ms;
}
.socialNet li:hover{
  transform: scale(1.16);
}
.socialNet li a{
  color: var(--t-light);
  text-decoration: none;
}
ul.socialNet{
  margin: 0;
}
hr{
  margin: 0;
}