
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap'); */
:root{
  --primary: #212121;
  --p-light: #484848;
  --p-dark: #000000;
  --secondary: #2e7d32;
  --s-light: #60ad5e;
  --s-dark: #005005;
  --t-light: #ffffff;
}
*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family:  'Poppins', sans-serif;
  /* font-family: 'Paytone One', sans-serif; */
  /* font-family: 'Noto Sans JP', sans-serif; */
}
body::-webkit-scrollbar{
  width: 7px;
  background: var(--p-light);
}
body::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background: var(--p-dark); 
}
.title{
  font-family: 'Roboto', sans-serif;
}
p{
  font-family: 'Montserrat', sans-serif;
}